@charset "UTF-8";
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 12vh;
  min-height: 60px;
  z-index: 4;
}

.header__nav {
  width: 100%;
  height: 100%;
}

.header__nav__checkbox {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 32px;
  width: 32px;
  margin-top: -16px;
  opacity: 0;
  z-index: 5;
}

.header__nav__checkbox:checked ~ .header__nav__burger .burger__lines .burger__lines--line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #bbcc62;
}

.header__nav__checkbox:checked ~ .header__nav__burger .burger__lines--line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.header__nav__checkbox:checked ~ .header__nav__burger .burger__lines--line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #bbcc62;
}

.header__nav__checkbox:checked ~ .header__nav__menu {
  margin-top: 0px;
}

.header__nav__burger {
  height: 100%;
  width: 100%;
  background-color: #181813;
  border-bottom: 2px solid #292929;
}

.header__nav__burger .burger__lines {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 26px;
  width: 32px;
  margin-top: -13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__burger .burger__lines span {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #bbcc62;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header__nav__burger .burger__lines .burger__lines--line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header__nav__burger .burger__lines .burger__lines--line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.header__nav__menu {
  position: relative;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  margin-top: -250px;
  padding: 10px 0px;
  list-style-type: none;
  z-index: -1;
  -webkit-transition: margin-top 300ms ease-in-out;
  transition: margin-top 300ms ease-in-out;
  background-color: #181813;
  -webkit-box-shadow: 0px 0px 15px #292929;
          box-shadow: 0px 0px 15px #292929;
}

.header__nav__menu__item, .header__nav__menu__item--selected {
  text-decoration: none;
  color: #dadada;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #00000000 50%, #bbcc62, #00000000 50%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header__nav__menu__item:hover, .header__nav__menu__item--selected:hover {
  color: #dadada;
  border-image-source: linear-gradient(to left, #00000000 10%, #bbcc62, #00000000 90%);
}

.header__nav__menu__item--selected {
  font-weight: bolder;
  color: #bbcc62;
}

.header__nav__menu__item--selected:hover {
  color: #bbcc62;
}

@media screen and (min-width: 768px) {
  .header {
    height: 13vh;
  }
  .header__nav__burger {
    display: none;
  }
  .header__nav__checkbox {
    display: none;
  }
  .header__nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    -webkit-transform: translateY(245px);
            transform: translateY(245px);
    height: 100%;
    border-bottom: 2px solid #292929;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__nav__checkbox:checked ~ .header__nav__menu {
    margin-top: -250px;
  }
}

@-webkit-keyframes clickAnimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes clickAnimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes upNdown {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  to {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@keyframes upNdown {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  to {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

.maincontent {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12vh;
  width: 100%;
  height: 88vh;
  background-color: #181813;
}

.maincontent__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 100%;
}

.maincontent__main img {
  height: 100%;
  border-radius: 50%;
  border: 3px solid #dadada;
  padding: 5px;
}

.maincontent__main h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  text-shadow: 0px 0px 4px #bbcc62;
  color: #181813;
  text-align: center;
}

.maincontent__main h2 {
  color: #dadada;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.maincontent__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontent__description__frase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  gap: 10px;
}

.maincontent__description__frase svg {
  color: #bbcc62;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.maincontent__description__frase p {
  display: inline;
  color: #dadada;
  margin-bottom: 0px;
}

.maincontent__description__texto {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 8% 0px 8%;
}

.maincontent__description__texto h2 {
  color: #dadada;
  text-decoration: underline;
}

.maincontent__description__texto p {
  color: #bbcc62;
}

.maincontent__description__texto p span {
  color: #dadada;
  font-size: 0.6rem;
}

.maincontent__description__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6vh;
}

.maincontent__description__button a {
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background-color: #bbcc62;
  border: 3px solid #bbcc62;
  color: #181813;
}

.maincontent__description__button a::after {
  content: "\00a0\00a0\00a0";
  display: inline-block;
}

.maincontent__description__button a::before {
  content: "\00a0\00a0\00a0";
}

.maincontent__description__button a:hover {
  background-color: #181813;
  color: #dadada;
}

.maincontent__description__button a:hover::after {
  content: "\00a0 »";
  -webkit-animation: upNdown 300ms ease-in-out infinite alternate;
          animation: upNdown 300ms ease-in-out infinite alternate;
}

.maincontent__description__button a:focus {
  -webkit-animation-name: clickAnimation;
          animation-name: clickAnimation;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
}

.asesorados {
  width: 100%;
  height: 88vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dadada;
}

.asesorados__carousel {
  width: 80%;
  height: 70%;
  background-color: #181813;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 30px #181813;
          box-shadow: 0px 0px 30px #181813;
}

.asesorados__carousel__contenedor__asesorado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
  margin-left: 15%;
  padding: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 70%;
  border: 3px solid #bbcc62;
  border-radius: 20px;
  color: #dadada;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asesorados__carousel__contenedor__asesorado__imgs {
  position: relative;
  width: 150px;
  height: 150px;
}

.asesorados__carousel__contenedor__asesorado__imgs img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  position: absolute;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.asesorados__carousel__contenedor__asesorado__imgs__desp {
  z-index: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.asesorados__carousel__contenedor__asesorado__imgs__antes {
  z-index: 0;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.asesorados__carousel__contenedor__asesorado__imgs:hover > .asesorados__carousel__contenedor__asesorado__imgs__desp {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 0;
}

.asesorados__carousel__contenedor__asesorado__imgs:hover > .asesorados__carousel__contenedor__asesorado__imgs__antes {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}

.asesorados__carousel__contenedor__asesorado__frase {
  text-align: center;
  font-style: italic;
  font-size: 0.6rem;
}

.asesorados__carousel__contenedor__asesorado__frase::before, .asesorados__carousel__contenedor__asesorado__frase::after {
  content: "\"";
}

.asesorados__carousel__contenedor__asesorado__nombre {
  font-weight: bold;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.asesorados__carousel__contenedor__asesorado__nombre::before {
  content: "- ";
}

.asesorados__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.asesorados__button a {
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background-color: #bbcc62;
  border: 3px solid #bbcc62;
  color: #181813;
}

.asesorados__button a::after {
  content: "\00a0\00a0\00a0";
  display: inline-block;
}

.asesorados__button a::before {
  content: "\00a0\00a0\00a0";
}

.asesorados__button a:hover {
  background-color: #bacc6262;
  color: #181813;
}

.asesorados__button a:hover::after {
  content: "\00a0 »";
  -webkit-animation: upNdown 300ms ease-in-out infinite alternate;
          animation: upNdown 300ms ease-in-out infinite alternate;
}

.asesorados__button a:focus {
  -webkit-animation-name: clickAnimation;
          animation-name: clickAnimation;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
}

.infoinstagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 40px;
  gap: 40px;
  background-color: #dadada;
}

.infoinstagram article {
  -webkit-box-shadow: 0px 0px 10px #181813;
          box-shadow: 0px 0px 10px #181813;
}

.overlay__spotify {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.overlay__spotify iframe {
  -webkit-transition: height 400ms;
  transition: height 400ms;
  height: 80px;
}

.overlay__whatsapp {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #bbcc62;
  border-radius: 50px;
  overflow: hidden;
  background: center/cover no-repeat;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bbcc627f), to(#00000000));
  background-image: linear-gradient(to top, #bbcc627f 10%, #00000000);
  background-position-y: 70px;
  -webkit-transition: all 500ms ease-in-out, translateY 100ms;
  transition: all 500ms ease-in-out, translateY 100ms;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.overlay__whatsapp a svg {
  width: 30px;
  height: 30px;
  color: #bbcc62;
  -webkit-transform: rotatex(0deg);
          transform: rotatex(0deg);
  -webkit-transition: all 400ms, translateY 100ms;
  transition: all 400ms, translateY 100ms;
}

.overlay__whatsapp:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #bacc6262), to(#00000000));
  background-image: linear-gradient(to top, #bacc6262 50%, #00000000);
  background-position-y: 0px;
}

.overlay__whatsapp:hover a svg {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #181813;
}

@media (min-width: 481px) and (max-width: 768px) {
  .overlay__whatsapp {
    width: 62.5px;
    height: 62.5px;
  }
  .overlay__whatsapp a svg {
    width: 37.5px;
    height: 37.5px;
  }
}

@media screen and (min-width: 768px) {
  .overlay__whatsapp {
    height: 75px;
    width: 75px;
  }
  .overlay__whatsapp a svg {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .maincontent {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .maincontent__main img {
    height: unset;
    width: 70%;
  }
  .maincontent__description {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .maincontent__description svg {
    width: 1.2rem;
    height: 1.2rem;
    min-width: 1.2rem;
    min-height: 1.2rem;
  }
  .maincontent__description__texto p span {
    font-size: 0.8rem;
  }
  .asesorados__carousel__contenedor__asesorado {
    margin-left: 25%;
    width: 50%;
  }
  .asesorados__carousel__contenedor__asesorado__frase {
    font-size: 0.8rem;
  }
  .asesorados__carousel__contenedor__asesorado__nombre {
    font-size: 1.2rem;
  }
  .overlay__spotify {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .maincontent {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .maincontent__main img {
    height: unset;
    width: 70%;
  }
  .maincontent__description {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .maincontent__description svg {
    height: 1.4rem;
    width: 1.4rem;
    min-width: 1.4rem;
    min-height: 1.4rem;
  }
  .maincontent__description__texto p span {
    font-size: 1rem;
  }
  .asesorados__carousel {
    width: 50%;
  }
  .asesorados__carousel__contenedor__asesorado {
    margin-left: 25%;
    width: 50%;
  }
  .asesorados__carousel__contenedor__asesorado__frase {
    font-size: 0.8rem;
  }
  .asesorados__carousel__contenedor__asesorado__nombre {
    font-size: 1.4rem;
  }
  .overlay__spotify {
    display: block;
  }
  .overlay__spotify iframe:hover {
    height: 380px;
  }
}

@keyframes clickAnimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes upNdown {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  to {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@keyframes clickAnimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes upNdown {
  from {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  to {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 300px;
  min-height: 100px;
  background-color: #dadada;
  color: #dadada;
}

.footer__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ".      copy    icon1" ".      copy    icon2" "cred   cred    icon3";
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 80%;
  width: 95%;
  background-color: #181813;
  border-radius: 50px 50px 0px 0px;
  margin-top: 40px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 0px 10px #292929;
          box-shadow: 0px 0px 10px #292929;
}

.footer__container__copyright {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: copy;
  width: 100%;
  text-align: center;
}

.footer__container__copyright--barra {
  color: #bbcc62;
}

.footer__container__creditos, .footer__container__creditos a {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cred;
  font-size: 0.6rem;
  margin-left: 10px;
  font-style: italic;
}

.footer__container__creditos a {
  color: #bbcc62;
  margin-left: 0px;
}

.footer__container__creditos a:hover {
  color: #bbcc62;
}

.footer__container__icons--whats {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #bbcc62;
  border-radius: 30px;
  overflow: hidden;
  background: center/cover no-repeat;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bbcc627f), to(#00000000));
  background-image: linear-gradient(to top, #bbcc627f 10%, #00000000);
  background-position-y: 50px;
  -webkit-transition: all 500ms ease-in-out, translateY 100ms;
  transition: all 500ms ease-in-out, translateY 100ms;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon1;
  justify-self: center;
}

.footer__container__icons--whats a svg {
  width: 18px;
  height: 18px;
  color: #bbcc62;
  -webkit-transform: rotatex(0deg);
          transform: rotatex(0deg);
  -webkit-transition: all 400ms, translateY 100ms;
  transition: all 400ms, translateY 100ms;
}

.footer__container__icons--whats:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #bacc6262), to(#00000000));
  background-image: linear-gradient(to top, #bacc6262 50%, #00000000);
  background-position-y: 0px;
}

.footer__container__icons--whats:hover a svg {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #181813;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer__container__icons--whats {
    width: 37.5px;
    height: 37.5px;
  }
  .footer__container__icons--whats a svg {
    width: 22.5px;
    height: 22.5px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container__icons--whats {
    height: 45px;
    width: 45px;
  }
  .footer__container__icons--whats a svg {
    width: 27px;
    height: 27px;
  }
}

.footer__container__icons--tiktok {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #bbcc62;
  border-radius: 30px;
  overflow: hidden;
  background: center/cover no-repeat;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bbcc627f), to(#00000000));
  background-image: linear-gradient(to top, #bbcc627f 10%, #00000000);
  background-position-y: 50px;
  -webkit-transition: all 500ms ease-in-out, translateY 100ms;
  transition: all 500ms ease-in-out, translateY 100ms;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: icon2;
  justify-self: center;
}

.footer__container__icons--tiktok a svg {
  width: 18px;
  height: 18px;
  color: #bbcc62;
  -webkit-transform: rotatex(0deg);
          transform: rotatex(0deg);
  -webkit-transition: all 400ms, translateY 100ms;
  transition: all 400ms, translateY 100ms;
}

.footer__container__icons--tiktok:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #bacc6262), to(#00000000));
  background-image: linear-gradient(to top, #bacc6262 50%, #00000000);
  background-position-y: 0px;
}

.footer__container__icons--tiktok:hover a svg {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #181813;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer__container__icons--tiktok {
    width: 37.5px;
    height: 37.5px;
  }
  .footer__container__icons--tiktok a svg {
    width: 22.5px;
    height: 22.5px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container__icons--tiktok {
    height: 45px;
    width: 45px;
  }
  .footer__container__icons--tiktok a svg {
    width: 27px;
    height: 27px;
  }
}

.footer__container__icons--insta {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #bbcc62;
  border-radius: 30px;
  overflow: hidden;
  background: center/cover no-repeat;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bbcc627f), to(#00000000));
  background-image: linear-gradient(to top, #bbcc627f 10%, #00000000);
  background-position-y: 50px;
  -webkit-transition: all 500ms ease-in-out, translateY 100ms;
  transition: all 500ms ease-in-out, translateY 100ms;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: icon3;
  justify-self: center;
}

.footer__container__icons--insta a svg {
  width: 18px;
  height: 18px;
  color: #bbcc62;
  -webkit-transform: rotatex(0deg);
          transform: rotatex(0deg);
  -webkit-transition: all 400ms, translateY 100ms;
  transition: all 400ms, translateY 100ms;
}

.footer__container__icons--insta:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #bacc6262), to(#00000000));
  background-image: linear-gradient(to top, #bacc6262 50%, #00000000);
  background-position-y: 0px;
}

.footer__container__icons--insta:hover a svg {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #181813;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer__container__icons--insta {
    width: 37.5px;
    height: 37.5px;
  }
  .footer__container__icons--insta a svg {
    width: 22.5px;
    height: 22.5px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container__icons--insta {
    height: 45px;
    width: 45px;
  }
  .footer__container__icons--insta a svg {
    width: 27px;
    height: 27px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer__container {
    width: 90%;
    -webkit-box-shadow: 0px 0px 20px #292929;
            box-shadow: 0px 0px 20px #292929;
  }
  .footer__container__creditos, .footer__container__creditos a {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 90%;
    -webkit-box-shadow: 0px 0px 20px #292929;
            box-shadow: 0px 0px 20px #292929;
  }
  .footer__container__creditos, .footer__container__creditos a {
    font-size: 1rem;
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: font-size 400ms;
  transition: font-size 400ms;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.4rem;
}

p, a {
  font-size: 1rem;
  margin-bottom: 0rem;
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  p, a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  p, a {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */