@import "./partials/header";
@import "./partials/body";
@import "./partials/components";
@import "./partials/footer";

//Reset
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
    transition: font-size 400ms;
}