.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 12vh;
  min-height: 60px;
  z-index: 4;
}

.header__nav {
  width: 100%;
  height: 100%;
}

.header__nav__checkbox {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 32px;
  width: 32px;
  margin-top: -16px;
  opacity: 0;
  z-index: 5;
}

.header__nav__burger {
  height: 100%;
  width: 100%;
  background-color: #181813;
  border-bottom: 2px solid #292929;
}

.header__nav__burger .burger__lines {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 26px;
  width: 32px;
  margin-top: -13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__burger .burger__lines span {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #bbcc62;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header__nav__burger .burger__lines .burger__lines--line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header__nav__burger .burger__lines .burger__lines--line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.header__nav__menu {
  position: relative;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  margin-top: -250px;
  padding: 10px 0px;
  list-style-type: none;
  z-index: -1;
  -webkit-transition: margin-top 300ms ease-in-out;
  transition: margin-top 300ms ease-in-out;
  background-color: #181813;
  -webkit-box-shadow: 0px 0px 15px #292929;
          box-shadow: 0px 0px 15px #292929;
}

.header__nav__menu__item, .header__nav__menu__item--selected {
  text-decoration: none;
  font-size: 1.1rem;
  color: #f3e5e5;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #00000000 50%, #bbcc62, #00000000 50%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header__nav__menu__item:hover, .header__nav__menu__item--selected:hover {
  color: #f3e5e5;
  border-image-source: linear-gradient(to left, #00000000 10%, #bbcc62, #00000000 90%);
}

.header__nav__menu__item--selected {
  font-weight: bolder;
  color: #bbcc62;
}

.header__nav__menu__item--selected:hover {
  color: #bbcc62;
}

.header__nav__checkbox:checked ~ .header__nav__burger .burger__lines .burger__lines--line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #bbcc62;
}

.header__nav__checkbox:checked ~ .header__nav__burger .burger__lines--line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.header__nav__checkbox:checked ~ .header__nav__burger .burger__lines--line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #bbcc62;
}

.header__nav__checkbox:checked ~ .header__nav__menu {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .header__nav__burger {
    display: none;
  }
  .header__nav__checkbox {
    display: none;
  }
  .header__nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    -webkit-transform: translateY(245px);
            transform: translateY(245px);
    height: 105%;
    border-bottom: 2px solid #292929;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__nav__checkbox:checked ~ .header__nav__menu {
    margin-top: -250px;
  }
}

.maincontent {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-top: 11.9vh;
  width: 100%;
  height: 88vh;
  background-color: #181813;
}

.maincontent__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.maincontent__main img {
  height: 70%;
  border-radius: 50%;
  border: 3px solid #f3e5e5;
  padding: 5px;
}

.maincontent__main h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  text-shadow: 0px 0px 4px #bbcc62;
  color: #181813;
  text-align: center;
}

.maincontent__main h2 {
  color: #f3e5e5;
  font-size: 1rem;
  font-style: italic;
  text-decoration: underline;
}

.maincontent__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontent__description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  gap: 10px;
}

.maincontent__description svg {
  color: #bbcc62;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
}

.maincontent__description p {
  display: inline;
  color: #f3e5e5;
  font-size: 1rem;
  margin-bottom: 0px;
}

.maincontent__description__button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6vh;
}

@media (min-width: 481px) and (max-width: 768px) {
  .maincontent {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .maincontent__main img {
    height: unset;
    width: 70%;
  }
  .maincontent__main h1 {
    font-size: 2.25rem;
  }
  .maincontent__main h2 {
    font-size: 1.25rem;
  }
  .maincontent__description {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .maincontent__description p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .maincontent {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .maincontent__main img {
    height: unset;
    width: 70%;
  }
  .maincontent__main h1 {
    font-size: 3.15rem;
  }
  .maincontent__main h2 {
    font-size: 2rem;
  }
  .maincontent__description {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .maincontent__description p {
    font-size: 1.2rem;
  }
}

.button--dark {
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #bbcc62;
  border: 3px solid #bbcc62;
  color: #181813;
}

.button--dark:hover {
  background-color: #181813;
  color: #f3e5e5;
}

.button--light {
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #181813;
  border: 3px solid #bbcc62;
  color: #bbcc62;
}

.button--light:hover {
  background-color: #f3e5e5;
  border: 3px solid #bbcc62;
  color: #181813;
}

.overlay__spotify {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.overlay__whatsapp {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 50px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .button {
    font-size: 1rem;
  }
  .overlay__spotify {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1.25rem;
  }
  .overlay__spotify {
    display: block;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 25vh;
  min-height: 100px;
  -webkit-box-shadow: inset 0px 0px 10px #292929;
          box-shadow: inset 0px 0px 10px #292929;
  color: #f3e5e5;
}

.footer__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ".      copy    icon1" ".      copy    icon2" "cred   cred    icon3";
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  -ms-grid-rows: 1fr 1fr 1f;
      grid-template-rows: 1fr 1fr 1f;
  height: 80%;
  width: 100%;
  background-color: #181813;
  border-radius: 50px 50px 0px 0px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 10px #292929;
          box-shadow: 0px 0px 10px #292929;
}

.footer__container__copyright {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: copy;
  width: 100%;
  text-align: center;
  font-size: 1.35rem;
}

.footer__container__creditos, .footer__container__creditos a {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cred;
  font-size: 1.2rem;
  margin-left: 10px;
  font-style: italic;
}

.footer__container__creditos a {
  color: #bbcc62;
  margin-left: 0px;
}

.footer__container__icons--whats {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon1;
}

.footer__container__icons--face {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: icon2;
}

.footer__container__icons--insta {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: icon3;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    -webkit-box-shadow: inset 0px 0px 20px #292929;
            box-shadow: inset 0px 0px 20px #292929;
  }
  .footer__container {
    width: 90%;
    -webkit-box-shadow: 0px 0px 20px #292929;
            box-shadow: 0px 0px 20px #292929;
  }
  .footer__container__copyright {
    font-size: 1.5rem;
  }
  .footer__container__creditos, .footer__container__creditos a {
    font-size: 1.3rem;
  }
  .footer__container__creditos a {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-shadow: inset 0px 0px 20px #292929;
            box-shadow: inset 0px 0px 20px #292929;
  }
  .footer__container {
    width: 90%;
    -webkit-box-shadow: 0px 0px 20px #292929;
            box-shadow: 0px 0px 20px #292929;
  }
  .footer__container__copyright {
    font-size: 1.7rem;
  }
  .footer__container__creditos, .footer__container__creditos a {
    font-size: 1.5rem;
  }
  .footer__container__creditos a {
    font-size: 1.5rem;
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: font-size 400ms;
  transition: font-size 400ms;
}
/*# sourceMappingURL=style.css.map */