@import "./vars";
@import "./components";

//Contenido del  body

.maincontent{
    position: relative;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    margin-top: 12vh;
    width: 100%;
    height: 88vh;
    background-color: map-get($pageColors, dark);
    &__main{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        img{
            height: 70%;
            border-radius: 50%;
            border: 3px solid map-get($pageColors, light);
            padding: 5px;
        }
        h1{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 2rem;
            font-family: 'Barlow', sans-serif;
            text-shadow: 0px 0px 4px map-get($pageColors, main);
            // Mismo color del fondo para lograr un efecto de contorno 
            color: map-get($pageColors, dark);
            text-align: center;
        }
        h2{
            color: map-get($pageColors, light);
            font-size: 1rem;
            font-style: italic;
            text-decoration: underline;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        div{
            display: flex;
            align-items: center;
            width: 80%;
            gap: 10px;
        }
        svg{
            color: map-get($pageColors, main);
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
        }
        p{
            display: inline;
            color: map-get($pageColors, light);
            font-size: 1rem;
            margin-bottom: 0px; // Para eliminar un error del boostrap
        }
        &__button{
            width: 100%;
            justify-content: center;
            margin-bottom: 6vh;
            a{
                @include button("dark");
            }
        }
    }
}
.overlay{
    &__spotify{
        display: none;
        position: fixed;
        bottom: 5px;
        right: 5px;
        iframe{
            transition: height 400ms;
            height: 80px;
        }
    }
    &__whatsapp{
        @include icon(50px);
        position: fixed;
        bottom: 5px;
        left: 5px;
    }
}
// Responsive tablet
@media (min-width: 481px) and (max-width: 768px){
    .maincontent{
        grid-template-rows: 100%;
        grid-template-columns: 40% 60%;
        &__main{
            img{
                height: unset;
                width: 70%;
            }
            h1{
                font-size: 2.25rem;
            }
            h2{
                font-size: 1.25rem;
            }
        }
        &__description{
            justify-content: space-around;
            p{
                font-size: 1.25rem;
            }
        }
    }
    .overlay{
        &__spotify{
            display: block;
        }
    }
}

//Responsive desktop
@media screen and (min-width: 768px){
    .maincontent{
        grid-template-rows: 100%;
        grid-template-columns: 40% 60%;
        &__main{
            img{
                height: unset;
                width: 70%;
            }
            h1{
                font-size: 3.15rem;
            }
            h2{
                font-size: 2rem;
            }
        }
        &__description{
            justify-content: space-around;
            p{
                font-size: 1.2rem;
            }
        }
    }
    .overlay{
        &__spotify{
            display: block; 
            iframe:hover{
                height: 380px;
            }
        }
    }
}